ion-content {
    --background: linear-gradient(to right, #e5af9e, #eaa198); 
  }

  ion-header {
    --ion-toolbar-background: #424743;
  }

.inten img{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    box-shadow: 25px 20px rgba(0,0,0, .15);
    border-radius: 40px;
}

.inten1 {
    position: relative;
    text-align: center;
  }
  
  .txt_inten { 
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 90%;
    box-shadow:10px 20px rgba(0,0,0, 0.25);
  }

  .txt_design{
    font-size: 18px;
    font-weight: 800;
  }
  