<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>intensities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inten">
    <img src="./assets/imgs/Intensity-1.png" />
    <div class="txt_inten">
      <p style="font-size: 18px;">
        Intensities I <br>
      </p>
      <p style="text-align: left;">
        Shaking: Scarcely Perceptible <br><br>
        Description: Perceptible to people under favorable circumstances. 
        Delicately balanced objects are disturbed slightly. 
        Still Water in containers oscillates slowly.
      </p>
    </div>
  </div>
  <div class="inten">
    <img src="./assets/imgs/Intensity-2.png" />
    <div class="txt_inten">
      <p style="font-size: 18px; color:#dfe6fe;">
        Intensities II <br>
      </p>
      <p style="text-align: left; color:#dfe6fe">
        Shaking: Slightly Felt <br><br>
        Description: Felt by few individuals at rest indoors. 
        Hanging objects swing slightly. Still Water in containers oscillates noticeably.
      </p>
    </div>
  </div>
  <div class="inten">
    <img src="./assets/imgs/Intensity-3.png" />
    <div class="txt_inten">
      <p style="font-size: 18px; color:#82f9fb;">
        Intensities III <br>
      </p>
      <p style="text-align: left; color:#82f9fb;">
        Shaking: Weak <br><br>
        Description: Felt by many people indoors especially in upper floors of buildings. 
        Vibration is felt like one passing of a light truck. Dizziness and nausea are experienced by some people. 
        Hanging objects swing moderately. Still water in containers oscillates moderately.
      </p>
    </div>
  </div>
  <div class="inten">
    <img src="./assets/imgs/Intensity-4.png" />
    <div class="txt_inten">
      <p style="font-size: 18px; color:#7efbdf;">
        Intensities IV <br>
      </p>
      <p style="text-align: left; color:#7efbdf;">
        Shaking: Moderately Strong <br><br>
        Description: Felt generally by people indoors and by some people outdoors. Light sleepers are awakened. 
        Vibration is felt like a passing of heavy truck. Hanging objectsswing considerably. 
        Dinner, plates, glasses, windows and doors rattle. Floors and walls of wood framed buildings creak. 
        Standing motor cars may rock slightly. Liquids in containers are slightly disturbed. Water in containers oscillate strongly. 
        Rumbling sound may sometimes be heard.
      </p>
    </div>
  </div>
  <div class="inten">
    <img src="./assets/imgs/Intensity-5.png" />
    <div class="txt_inten">
      <p style="font-size: 18px; color:#95f879;">
        Intensities V <br>
      </p>
      <p style="text-align: left; color:#95f879;">
        Shaking: Strong <br><br>
        Description: Generally felt by most people indoors and outdoors. 
        Many sleeping people are awakened. Some are frightened, some run outdoors. 
        Strong shaking and rocking felt throughout building. Hanging objects swing violently. 
        Dining utensils clatter and clink; some are broken. Small, light and unstable objects may fall or overturn. 
        Liquids spill from filled open containers. Standing vehicles rock noticeably. 
        Shaking of leaves and twigs of trees are noticeable.
      </p>
    </div>
  </div>
  <div class="inten">
    <img src="./assets/imgs/Intensity-6.png" />
    <div class="txt_inten">
      <p style="font-size: 18px; color:#f7f835;">
        Intensities VI <br>
      </p>
      <p style="text-align: left; color:#f7f835;">
        Shaking: Very Strong <br><br>
        Description: Many people are frightened; many run outdoors. 
        Some people lose their balance. motorists feel like driving in flat tires. 
        Heavy objects or furniture move or may be shifted. Small church bells may ring. 
        Wall plaster may crack. 
        Very old or poorly built houses and man-made structures are slightly damaged though well-built structures are not affected. 
        Limited rockfalls and rolling boulders occur in hilly to mountainous areas and escarpments. 
        Trees are noticeably shaken.
      </p>
    </div>
  </div>
  <div class="inten">
    <img src="./assets/imgs/Intensity-7.png" />
    <div class="txt_inten">
      <p style="font-size: 18px; color:#fdca2c;">
        Intensities VII <br>
      </p>
      <p style="text-align: left; color:#fdca2c;">
        Shaking: Destructive <br><br>
        Description: Most people are frightened and run outdoors. 
        People find it difficult to stand in upper floors. 
        Heavy objects and furniture overturn or topple. Big church bells may ring. 
        Old or poorly-built structures suffer considerable damage. Some well-built structures are slightly damaged. 
        Some cracks may appear on dikes, fish ponds, road surface, or concrete hollow block walls. 
        Limited liquefaction, lateral spreading and landslides are observed. Trees are shaken strongly. 
        (Liquefaction is a process by which loose saturated sand lose strength during an earthquake and behave like liquid).
      </p>
    </div>
  </div>
  <div class="inten">
    <img src="./assets/imgs/Intensity-8.png" />
    <div class="txt_inten">
      <p style="font-size: 18px; color:#ff701f;">
        Intensities VIII <br>
      </p>
      <p style="text-align: left; color:#ff701f;">
        Shaking: Very Destructive <br><br>
        Description: People are panicky. 
        People find it difficult to stand even outdoors. 
        Many well-built buildings are considerably damaged. 
        Concrete dikes and foundation of bridges are destroyed by ground settling or toppling. 
        Railway tracks are bent or broken. Tombstones may be displaced, twisted or overturned. 
        Utility posts, towers and monuments mat tilt or topple. Water and sewer pipes may be bent, twisted or broken. 
        Liquefaction and lateral spreading cause man- made structure to sink, tilt or topple. 
        Numerous landslides and rockfalls occur in mountainous and hilly areas. 
        Boulders are thrown out from their positions particularly near the epicenter. Fissures and faults rapture may be observed. 
        Trees are violently shaken. Water splash or stop over dikes or banks of rivers.
      </p>
    </div>
  </div>
  <div class="inten">
    <img src="./assets/imgs/Intensity-9.png" />
    <div class="txt_inten">
      <p style="font-size: 18px; color:#ec2516;">
        Intensities IX <br>
      </p>
      <p style="text-align: left; color:#ec2516;">
        Shaking: Devastating <br><br>
        Description: People are forcibly thrown to ground. 
        Many cry and shake with fear. Most buildings are totally damaged. 
        bridges and elevated concrete structures are toppled or destroyed. 
        Numerous utility posts, towers and monument are tilted, toppled or broken. 
        Water sewer pipes are bent, twisted or broken. Landslides and liquefaction with lateral spreadings and sandboils are widespread. 
        the ground is distorted into undulations. Trees are shaken very violently with some toppled or broken. 
        Boulders are commonly thrown out. 
        River water splashes violently on slops over dikes and banks.
      </p>
    </div>
  </div>
  <div class="inten">
    <img src="./assets/imgs/Intensity-10.png" />
    <div class="txt_inten">
      <p style="font-size: 18px; color:#c81e11;">
        Intensities X <br>
      </p>
      <p style="text-align: left; color:#c81e11;">
        Shaking: Completely Devastating <br><br>
        Description: Practically all man-made structures are destroyed. 
        Massive landslides and liquefaction, large scale subsidence and uplifting of land forms and many ground fissures are observed. 
        Changes in river courses and destructive seiches in large lakes occur. 
        Many trees are toppled, broken and uprooted.
      </p>
    </div>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">intensities</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
