<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Quakey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Quakey</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="header" text-center style="padding: 15px;">
    <img class="img-responsive" src= "../assets/imgs/QuakeyAbout.svg">
  </div>
  <div class="contents" style="padding: 15px;">
    <p style="text-align: justify;">
      is a public service app for raising earthquake awareness among Filipinos. Parsing PHIVOLCS data,
      the app displays Philippine earthquakes in the last 24 hours. When there's an earthquake within 300km
      radius from your location or an earthquake with magnitude of at least 4.0, the app will alert you.
      Internet access required to use this app.
    </p>
  </div>
  <div text-center style="padding: 15px;">
    <img src= "../assets/imgs/MindtheShake.svg">
  </div>
  <div class="contents" style="padding: 15px;">
    <p style="text-align: justify;">
      For comments and suggestions, you may reach us via landline at (+63 2) 8652 6922 or via email 
      (contact&#64;moodlearning.com)
    </p>
  </div>
  <div class="contents" style="padding: 15px;">
    <p style="text-align: center;">
      Did you find Quakey helpful?
    </p>
  </div>


  
  <div class="contents">
    <p style="text-align: center;">
      Made by moodLearning, 
      an eLearning and tech
      service company.
    </p>
  </div>
   <div style="text-align: center;">
            <a href="https://www.moodlearning.com" target="_BLANK"><img class="logo" src= "../assets/imgs/mllogo1.svg"></a>
  </div>

</ion-content>
