<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title class="quakeybot_header">Recent Earthquakes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadBot2()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row *ngFor="let bot of [bot1, bot2, bot3, bot4]">
      <ion-col size="12">
        <ion-card class="custom-card" *ngIf="bot" (click)="redirectTo(bot.link)">
          <ion-card-header>
            <ion-card-title class="date-time">{{ bot.date_and_time }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="magnitude-text">Magnitude: {{ bot.magnitude }}</p>
            <p class="eqInfo-text">Depth: {{ bot.depth }}</p>
            <p class="eqInfo-text">Location: {{ bot.location }}</p>
            <p class="eqInfo-text">Latitude: {{ bot.latitude }}</p>
            <p class="eqInfo-text">Longitude: {{ bot.longitude }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!bots?.length" class="fullheight xc">
    <img src="assets/no_data.jpg" alt="No data available">
  </div>
</ion-content>
