ion-content {
  --background: #424743;
}

ion-header {
  --ion-toolbar-background: #424743;
}

  ion-header::after, [tabsPlacement="top"] > ion-tabbar::after, ion-footer::before, [tabsPlacement="bottom"] > ion-tabbar::before {
    img {
      height: 50vh;
      width: auto;
      margin: auto;
      display: block;
    }

    .fullheight {
      height: 100%;
    }
    
    .xc {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .toolbar.no-border, .navbar.no-border {
      .toolbar-background {
        border: 0;
      }
    }
  }

    .custom-card {
    background-color: #eae4c4; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out; 
  }

  .custom-card:hover {
    transform: translateY(-5px); 
  }

  .card-content {
    padding: 20px; 
  }

  .date-time {
    color: #3b7b7a;  
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 10px;
    text-align: center; 
  }

  .info-text {
    color: #9bb5a1; 
    font-size: 16px; 
    margin-bottom: 10px; 
  }
  
  .magnitude-text {
    font-size: 16px; 
    color: #58522d; 
  }

  .eqInfo-text {
    font-size: 14px; 
    color: #58522d; 
  }


