<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Checklist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="checklists && checklists.length > 0; else noChecklist">
    <ion-list>
      <ion-list *ngFor="let checklist of checklists; let i = index" lines="none" style=" margin: 1rem;">
        <ion-item>
          <ion-checkbox slot="start" [(ngModel)]="checklist.isChecked" (ionChange)="updateCheck(i)" color="primary"></ion-checkbox>
          <ion-label class="yeet">{{ checklist.val }}</ion-label>
            <ion-button (click)="editItem(i)"  color="primary"><ion-icon slot="icon-only" name="create"></ion-icon></ion-button>
            <ion-button (click)="addFood(i)"  color="primary"><ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
            <ion-button (click)="deleteConfirm(i)"  color="danger"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
        </ion-item>
        <ion-list *ngIf="checklist.foods && checklist.foods.length > 0">
          <ion-item *ngFor="let food of checklist.foods; let j = index" style="margin-left: 32px;">
            <ion-checkbox slot="start" [(ngModel)]="food.isChecked" (ionChange)="updateFoodCheck(i, j)" color="primary"></ion-checkbox>
            <ion-label class = "food-name">{{ food.name }}</ion-label>
            <ion-button (click)="editFood(i, j)"  color="primary"><ion-icon slot="icon-only" name="create"></ion-icon></ion-button>
            <ion-button (click)="deleteFoodConfirm(i, j)" color="danger"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-list>
  </ng-container>

  <ng-template #noChecklist>
    <div class="no-checklist-message">
      <p>Add your Checklist here.</p>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
