ion-content {
  --background:#4d515d; 
  position: relative;
}

ion-header {
  --ion-toolbar-background: #4bb5a2;
}

.checklist-container {
  background-color: #2a2a2a;
}

ion-item {
  --inner-padding-end: 0;
}

ion-checkbox {
  --padding-start: 16px;
  margin: 0 10px; 
}

.yeet {
  color: #4bb5a2;
  font-size: 16px;
  display: block;

}

.food-name {
  /* gray #b9b1b1 , red #FF5733*/
  color: #ededed; 
  font-size: 14px;
  display: block;

}

.no-checklist-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.list-md {
  background:	#4d4d4f;
  --ion-item-background: #525252;
  border-radius: 25px; 
 
}