ion-content {
  --background: #424743; 
  position: relative;
}

ion-header {
  --ion-toolbar-background: #424743;
}

.checklist-container {
  background-color: #2a2a2a;
}

ion-item {
  --inner-padding-end: 0;
}

ion-checkbox {
  --padding-start: 16px;
  margin: 0 10px; 
}

.yeet {
  color: #de2900;
  font-size: 16px;
  display: block;

}

.food-name {
  /* gray #b9b1b1 , red #FF5733*/
  color: #b9b1b1; 
  font-size: 14px;
  display: block;

}

.no-checklist-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}